<form [formGroup]="addPetForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" formControlName="name" id="name">
  </div>
  <div class="form-group">
    <label>Species</label>
    <input type="text" class="form-control" formControlName="kind">
  </div>
  <div class="form-group">
    <label>Breed</label>
    <input type="text" class="form-control" formControlName="image">
  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="text" class="form-control" formControlName="profileText">
  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="number" min="0" max="10" class="form-control" formControlName="popularity">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
